<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <script src="https://code.jquery.com/jquery-3.7.0.min.js"
          integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
  <meta charset="UTF-8">
  <title>로그인 페이지</title>
</head>
<body>
<div id="login-form">
  <div id="login-title">Log into Select Shop</div>
  <button id="login-kakao-btn" onclick="location.href='https://kauth.kakao.com/oauth/authorize?client_id=fda7d84d33262e5e9a970cb237e67fb2&redirect_uri=http://localhost:8080/api/user/kakao/callback&response_type=code'">
    카카오로 로그인하기
  </button>
  <button id="login-id-btn" onclick="location.href='/api/users/signup'">
    회원 가입하기
  </button>
  <div>
    <div class="login-id-label">아이디</div>
    <input type="text" name="username" id="username" class="login-input-box">

    <div class="login-id-label">비밀번호</div>
    <input type="password" name="password" id="password" class="login-input-box">

    <button id="login-id-submit" onclick="onLogin()">로그인</button>
  </div>
  <div id="login-failed" style="display:none" class="alert alert-danger" role="alert">로그인에 실패하였습니다.</div>
</div>
</body>
<script>
  $(document).ready(function () {
    // 리프레쉬 토큰 삭제
    localStorage.removeItem('accessToken');
    Cookies.remove('REFRESH', {path: '/'});
  });

  const href = location.href;
  const queryString = href.substring(href.indexOf("?") + 1)
  if (queryString === 'error') {
    const errorDiv = document.getElementById('login-failed');
    errorDiv.style.display = 'block';
  }

  const host = 'http://' + window.location.host;

  function onLogin() {
    let username = $('#username').val();
    let password = $('#password').val();

    $.ajax({
      type: "POST",
      url: `/api/users/login`,
      contentType: "application/json",
      data: JSON.stringify({ username: username, password: password }),
    })
    .done(function (res, status, xhr) {
      // 서버 응답에서 Authorization 헤더 (액세스 토큰) 가져오기
      const accessToken = xhr.getResponseHeader('Authorization');
      console.log(accessToken);
      if (accessToken) {
        // localStorage에 액세스 토큰 저장
        localStorage.setItem('accessToken', accessToken);
      }

      // 로그인 성공 후 페이지 리다이렉트
      window.location.href = host;
    })
    .fail(function (jqXHR, textStatus) {
      alert("Login Failed");
      window.location.href = host + '/api/users/login-page?error';
    });

// 이후 모든 AJAX 요청에 Authorization 헤더 추가
    $.ajaxPrefilter(function (options, originalOptions, jqXHR) {
      const token = localStorage.getItem('accessToken');
      if (token) {
        jqXHR.setRequestHeader('Authorization', token);
      }
    });

  }
</script>
</html>